body { color: #555; background-color: #e4ded7; }
h1, h2, h3, h4, h5, h6 { color:#b98f00; }
a { color:#b98f00; }
a:focus, a:hover { color:#676767; }

.link { color:#b98f00;}
.link:focus, .link:hover {color:#676767;}

#page { background-color: #f5f1ed; }

#mainmenu ul li a {	color:#f5f1ed; background-color:#b98f00; }
#mainmenu ul li a:hover, #mainmenu ul li.active a {	color: #b98f00; background-color:#f5f1ed; }


#nombre_ocax { color: #b98f00; }

#footer { color:#1F1F1F; background-color:#676767; }
#footer div { color:#a6a6a6; }
#footer div b {	color:#ffffff; }

div.form .title{ color:#b98f00; }
.bigTitle { color: #b98f00; }

/*ENQUIRIYS*/
.enquirys b { color:#00CADC; }
.enquirys_titular {	color:#929292; }
#change_to_list { background: url("./images/graph_type_pie.png") no-repeat scroll 0 0 transparent; }
#change_to_grid { background: url("./images/graph_type_bar.png") no-repeat scroll 0 0 transparent; }

#basicFilterOptions { border-bottom: 1px solid #b98f00; }
#basicFilterOptions li.activeItem {	border-bottom: 4px solid #b98f00; }

/*PAGINA USUARIO*/
#nueva_consulta {
	color:#f00;
	background-color:transparent;
	background: url("./images/novaconsulta.png") 0 0 no-repeat;
}
#datos_usuario {
	color:#f00;
	background-color:transparent;
	background: url("./images/datos_usuario.png") 0 0 no-repeat;
}
#control_panel { 
	color:#f00;
	background-color:transparent;
	background: url("./images/control_panel.png") 0 0 no-repeat;
}
#panelMyEnquiries {
	background-color:transparent;
	background: url("./images/my_enquiries.png") 0 0 no-repeat;
}

/*CMS Pages*/
.cms_titulo { color:#b98f00; }
.activeMenuItem a { color: #676767; }

/*Budgets*/
#budget_titulo_j { color: #b98f00; }
#download_database { background: url("./images/download_database.png") no-repeat scroll 0 0 transparent; }
#budget_year { background: url("./images/budgetyear.png") no-repeat scroll 0 0 transparent; }
#change_to_pie { background: url("./images/graph_type_pie.png") no-repeat scroll 0 0 transparent; }
#change_to_bar { background: url("./images/graph_type_bar.png") no-repeat scroll 0 0 transparent; }

#featured_menu > li:hover {color:white; background-color:#b98f00; }

.prev_budget_arrow{	background-image:url('./images/prev_budget.png'); }


/*graph bar*/
.actual_provision_bar{ background-color:#b98f00; }
