
.archive {
	position: relative;
	border:1px solid rgb(228, 222, 215);
	background-color: rgb(228, 222, 215);
	max-width:250px;
	min-width:250px;
	margin: 15px 15px 45px 15px;
	float:left;
}
.archive a {
	color:grey;
	text-decoration:none;
}
.archive .created {
	position: absolute;
	border:1px solid rgb(228, 222, 215);
	padding: 0 5px 0 5px;
	height: 18px;
	width: 62px;
	top: -20px;
	left: -1px;
	color:grey;
	background-color: rgb(228, 222, 215);
}
.archive .showLink {
	position: absolute;
	margin: 0 5px 0 5px;
	height: 20px;
	top: -18px;
	left: 70px;
	font-size: 14px;
	color: #7F7F7F;
	cursor: pointer;
}
.archive .showLinkAlert {
	left: -0px;
	top: -20px;
	width: 245px;
	padding: 10px 0px 10px 5px;
}
.archive .closeLinkAlert {
	font-size: 17px;
	cursor: pointer;
	color: #7F7F7F;
}

.archive .delete {
	position: absolute;
	margin: 0 5px 0 5px;
	height: 20px;
	top: -18px;
	left: 95px;
	font-size: 14px;
	cursor: pointer;
}
.archive .name {
	padding: 3px 3px 0px 0px;
	font-size: 1.15em;
}
.archive .icon {
	float:right;
	margin: 5px 0 0 0;
}

.archive .description {
	font-size: 1.15em;

	background-color: white;
	margin-top: 3px;
	padding: 5px;
}
