/* ******* CMS ******** */

.cms_titulo
{
	font-size: 410%;
	line-height: 100%;
	letter-spacing:-0.5pt;
	font-weight:100;
	margin-bottom:20px;
}
.cms_content{ font-size: 18px; }
.cms_content p { font-size: 1em; }

#cmsOptions{
	font-size:1.5em;
	margin: -30px -25px 30px -25px;
	padding: 10px 0 10px 0;
	background-color:white;
}
#cmsOptions a{
	padding: 12px 20px 12px 20px;
}
#cmsOptions a:hover{
	background-color:#f5f1ed;
}


/* .activeMenuItem a {text-decoration:none;} */

#cmsPageBreadcrumbs
{
	/*border-top: 2px solid lightgrey;*/
	border-bottom: 1px solid #e4ded7;
	padding: 5px 3px 5px 10px;
	margin: -30px -25px 5px -25px;
	font-weight:200;
	font-size: 20px;
}

