
body {color: #555; background-color: #e4ded7; }
h1, h2, h3, h4, h5, h6 { color:#6E8B3D; }

a { color:#6E8B3D; }
a:hover { color:#676767; }

.link { color:#6E8B3D;}
.link:hover {color:#676767;}

#page { background-color: #f5f1ed; }

#mainmenu ul li a {	color:#f5f1ed; background-color:#6E8B3D; }
#mainmenu ul li a:hover, #mainmenu ul li.active a {	color: #6E8B3D; background-color:#f5f1ed; }

#header_bar > ul > li > a:hover { color:#6E8B3D; }

#logo { color:#a6a29e; }
#nombre_ocax { color: #6E8B3D; }

#footer { color:#1F1F1F; background-color:#676767; }
#footer div { color:#a6a6a6; }
#footer div b {	color:#ffffff; }

div.form .title{ color:#6E8B3D; }
.bigTitle { color: #6E8B3D; }

/* Mainmenu */
#mainMbMenu #nav-bar li a { color:#f5f1ed; background-color: #6E8B3D; }
#mainMbMenu #nav-bar li.active a { color: #6E8B3D; background-color:#f5f1ed; }
#mainMbMenu #nav-bar li a:hover { color: #6E8B3D; background-color:white; }

#mainMbMenu #nav-bar #nav ul li a {
	color:#6E8B3D;
	background-color:rgba(255, 255, 255, 0.9);
}
#mainMbMenu #nav-bar #nav ul li a:hover, #mainmenu ul li.active a {
	color: white;
	background-color:#6E8B3D;
}

/*ENQUIRIYS*/
.enquirys b { color:#00CADC; }
.enquirys_titular {	color:#929292; }

#basicFilterOptions { border-bottom: 1px solid #6E8B3D; }
#basicFilterOptions li.activeItem {	border-bottom: 4px solid #6E8B3D; }

/*CMS Pages*/
.cms_titulo { color:#6E8B3D; }
.activeMenuItem a { color: #676767; }

/*Budgets*/
#budget_titulo_j { color: #6E8B3D; }

.svg-color-fill { fill:#6E8B3D; }
.svg-color-stroke { stroke: #6E8B3D; }

#featured_menu > li:hover {color:white; background-color:#6E8B3D; }

.prev_budget_arrow{	background-image:url('./images/prev_budget.png'); }

/*graph bar*/
.actual_provision_bar{ background-color:#6E8B3D; }

