/* ENQUIRY */

#noEnquiriesHere
{
	margin-top:50px;
	height:90px;
	text-align:center;
	font-size:2em;
	color:lightgrey;
}


/* workflow */

#workflow_diagram > div {
	position:absolute;
	font-size:0.95em; line-height:95%; width:150px;
}
.workflowText {  }
.workflowFilter:hover { cursor:pointer; color:black; }

#filterLabel { margin-top: -25px; margin-right: -10px; text-align:right; }

/* search form */
#search_enquiries { margin-left:-10px }
#search_enquiries > p { margin-bottom:10px }

/* state menu */
#advancedFilterOptions { display:none }

#basicFilterOptions {
	margin: 0px 0px 20px 0px;
	border-bottom: 2px solid  rgb(228, 222, 215);
}

#basicFilterOptions > ul
{

}

#basicFilterOptions > ul > li
{
	cursor:pointer;
	list-style-type:none;
	font-weight:200;
	font-size: 25px;
	padding: 0px 17px 3px 17px;
	margin: 0px 0px 3px 0px;
	height:29px;
	float:left;
	/*border-bottom: 2px solid blue;*/
}

#basicFilterOptions > ul > .activeItem
{
border: 2px solid rgb(228, 222, 215);
margin: 0px 0px 0px 0px;
}

/* preview */

.enquiryPreview {
	cursor: pointer;
	position: relative;
	border:1px solid rgb(228, 222, 215);
	background-color: rgb(228, 222, 215);
	width:430px;
	height:250px;
	margin: 15px 15px 50px 15px;
	float:left;
}
.enquiryPreview .created {
	position: absolute;
	border:1px solid rgb(228, 222, 215);
	padding: 0 5px 0 5px;
	height: 18px;
	width: 64px;
	top: -20px;
	left: -1px;
	color:grey;
	background-color: rgb(228, 222, 215);
}
.enquiryPreview .loading {
	position: absolute;
	height: 19px;
	width: 60px;
	top: -22px;
	right: 0px;
	background: url("../images/preloader.gif") repeat-x scroll 0 0;
	display:none;
}
.enquiryPreview .title {
	padding: 3px 0px 0px 3px;
	font-size: 1.15em;
}
.enquiryPreview .body {
	padding: 2px 3px 0 3px;
	background-color: white;
	height: 222px;
	overflow: hidden;
}
