/* ENQUIRY */

#enquiryPageTitle{
	position: relative;
}

#enquiryTitle{
	margin-bottom:0px;
}

#enquiryDetails {
	float:right;
	margin-top:5px;
	text-align:left;
	margin-left:5px;
	padding:0px;
	width:470px;
}
#enquiryDetails #e_details tr:first-child td {border:none;}
#enquiryDetails #e_details tr:first-child th {border:none;}


#socialOptions {
	margin-left: -5px;
	padding: 10px 0px 10px 0px;
	width:400px;
}

#enquiryDisplayTypeIcons
{
	font-size:16px;
}
#enquiryDisplayTypeIcons i
{
	cursor:pointer;
}

/* workflow */
#workflow_diagram {  }

.workflowText {  }
.workflowFilter:hover { cursor:pointer; color:black; }

#filterLabel { margin-top: -25px; margin-right: -10px; text-align:right; }

/* search form */



#advancedFilterOptions { display:none }

/* preview */
#enquiryList{
	clear: both;
}

.enquiryPreview {
	position: relative;
	border:1px solid rgb(228, 222, 215);
	background-color: #e4ded7;
	width:430px;
	height:210px;
	margin: 30px 15px 30px 15px;
	float:left;
}

.enquiryPreview .created {
	position: absolute;
	padding: 0 5px 0 5px;
	height: 23px;
	width: 64px;
	top: -23px;
	font-size: 14px;
	background-color: #e4ded7;
}
.email-subscribe {
	cursor: pointer;
	position: absolute;
	/*padding: 0 5px 0 5px;*/
	height: 18px;
	width: 7px;
	color: lightgrey;
	font-size: 23px;
}
.email-subscribe.active { color: grey; }
.email-subscribe:hover { color: grey; }
.email-subscribe {
	top: 0px;
	left: 0px;
}

.enquiryPreview > .email-subscribe {
	top: -23px;
	left: 80px;
	width: 40px;
	height: 23px;
}


.enquiryPreview .loading {
	position: absolute;
	height: 19px;
	width: 60px;
	top: -22px;
	right: 0px;
	background: url("../images/preloader.gif") repeat-x scroll 0 0;
	display:none;
}
.enquiryPreview .title {
	cursor: pointer;
	padding: 2px 0px 3px 6px;
	font-size: 1.25em;
}
.enquiryPreview .body {
	cursor: pointer;
	position:relative;
	padding: 10px 5px 0 6px;
	background-color: white;
	font-size: 1.15em;
	height: 165px;
	overflow: hidden;
}

.enquiryPreview .subscription_notice {
	left: 10px;
	top: 20px;
}
.enquiryPreview .subscription_notice p {
	padding: 5px;
	margin-bottom: 0px;
}
.enquiryPreview .fadeout {
	cursor: pointer;
    position: absolute; 
    bottom: 0em;
    width:100%;
    height: 7em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 
.enquiryPreview .thumbs {
	cursor: pointer;
	position: absolute;
	/*padding: 0 5px 0 5px;*/
	top: -20px;
	left: 140px;
	height: 16px;
	color: grey;
	font-size: 17px;
}

/* BUTTON en enquiry/view */

span.subscriptionCount {

    height: 17px;
	border:1px solid #DEDEDE;
	background-color: white;
	padding: 0px 4px 0px 4px;
	margin: 0 2px 0 30px;
}

.add_comment {
	margin-top: 15px;
}
