
/* force a vertical scroll bar */
html, body{
	height: 100%;
	margin: 0 0 1px;
	padding: 0;
}

.consulta{
	-webkit-border-radius:10px;
	border-radius:10px;
	background-color:#FFF8DC;
	padding:10px;
}
.consulta h1{
	padding:10px;
	margin-bottom:0px;
}
.form{
	-webkit-border-radius:10px;
	border-radius:10px;
	background-color:#D9CCB9;
	padding:10px;
	margin-bottom:10px;

}
.flash_prompt{
	top: 0px;
	position:absolute;
	left: 50%;
	margin-left: -230px;
	z-index: 999;
	width: 460px;
	height: 80px;
	background-color: #FFC125;
	-webkit-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
	text-align:center;
}
.flash_success{
	top: 0px;
	position:absolute;
	left: 50%;
	margin-left: -230px;
	z-index: 999;
	width: 460px;
	height: 80px;
	background-color: #CEDFCE;
	-webkit-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
	text-align:center;
}

