
/* force a vertical scroll bar */
html, body{
	height: 100%;
	margin: 0 0 1px;
	padding: 0;
}

.enquiry{
	padding: 10px;
	margin: 0;
	border: 1px solid #C9E0ED;
}
.enquiry > .title{
	padding:10px;
	margin:-10px;
	background-color:#CAE1FF;
	margin-bottom:15px;
	font-size:1.4em;
}

.form{
	background-color:#00CADC;
	padding: 10px;
	margin: 0;
}


.form .title{
	padding:10px;
	margin:-10px;
	background-color:#transparent;
	color:#FFF;
	margin-bottom:15px;
	font-size:1.6em;
}

.contextHelp{
	background-color:#F0F8FF;
	padding: 2px;
	margin: 0;
	padding-bottom:15px;
}

.contextHelp > .title{
	padding:4px;
	margin: -2px;
	margin-bottom:5px;
	font-weight:bold;
	color:#4682B4;
	background-color:#CAE1FF;
}

.reply{
	padding:10px;
	margin-top:20px;
	border: 1px solid #C9E0ED;
}
.reply > .title{
	padding:10px;
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-10px;
	background-color:#CAE1FF;
	margin-bottom:10px;
}

.reply > .attachments{
	padding:5px;
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-10px;
	background-color:#F0F8FF;
	margin-bottom:10px;
}

.reply > .bottomBar{
	padding:5px;
	margin-top:10px;
	margin-left:-10px;
	margin-right:-10px;
	background-color:#F0F8FF;
	margin-bottom:-10px;
}

.link { color:#555555; cursor:pointer; }
.link:focus, .link:hover {color:#000000; text-decoration:underline;}

.flash_prompt{
	top: 0px;
	position:absolute;
	left: 50%;
	margin-left: -230px;
	z-index: 999;
	width: 460px;
	height: 80px;
	background-color: #FFC125;
	-webkit-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
	text-align:center;
}
.flash_success{
	top: 0px;
	position:absolute;
	left: 50%;
	margin-left: -230px;
	z-index: 999;
	width: 460px;
	height: 80px;
	background-color: #98FB98;
	-webkit-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
	text-align:center;
}

