
body { color: #555; background-color: #e4ded7; }
h1, h2, h3, h4, h5, h6 { color:#62b5cf; }
a { color:#62b5cf; }
a:focus, a:hover { color:#676767; }

.link { color:#62b5cf;}
.link:focus, .link:hover {color:#676767;}

#page { background-color: #f5f1ed; }

#mainmenu ul li a {	color:#f5f1ed; background-color:#62b5cf; }
#mainmenu ul li a:hover, #mainmenu ul li.active a {	color: #62b5cf; background-color:#f5f1ed; }


#logo { color:#a6a29e; }
#nombre_ocax { color: #62b5cf; }

#header { color:#1F1F1F; }
#header_bar_j { color:#1F1F1F; }

#footer { color:#1F1F1F; background-color:#676767; }
#footer div { color:#a6a6a6; }
#footer div b {	color:#ffffff; }

div.form .title{ color:#62b5cf; }
.bigTitle { color: #62b5cf; }

/*ENQUIRIYS*/
.enquirys b { color:#00CADC; }
.enquirys_titular {	color:#929292; }

/*PAGINA USUARIO*/
#nueva_consulta {
	color:#f00;
	background-color:transparent;
	background: url("./images/novaconsulta.png") 0 0 no-repeat;
}
#datos_usuario {
	color:#f00;
	background-color:transparent;
	background: url("./images/datos_usuario.png") 0 0 no-repeat;
}
#control_panel { 
	color:#f00;
	background-color:transparent;
	background: url("./images/control_panel.png") 0 0 no-repeat;
}
#panelMyEnquiries {
	background-color:transparent;
	background: url("./images/my_enquiries.png") 0 0 no-repeat;
}

/*CMS Pages*/
.cms_titulo { color:#62b5cf; }
.activeMenuItem a { color: #676767; }

#cmsinfo {
	color:#f00;
	background-color:transparent;
	background: url("./images/cmsinfo.png") 0 0 no-repeat;
}

/*Budgets*/
#budget_titulo_j { color: #62b5cf; }
#download_database { background: url("./images/download_database.png") no-repeat scroll 0 0 transparent; }
#budget_year { background: url("./images/budgetyear.png") no-repeat scroll 0 0 transparent; }
#change_to_pie { background: url("./images/graph_type_pie.png") no-repeat scroll 0 0 transparent; }
#change_to_bar { background: url("./images/graph_type_bar.png") no-repeat scroll 0 0 transparent; }

.prev_budget_arrow{	background-image:url('./images/prev_budget.png'); }


/*graph bar*/
.actual_provision_bar{ background-color:#62b5cf; }
.initial_provision_bar{ background-color:#778f3d; }

